h1 Sign Up


form(id="", method="POST", action="")
  label Email
    input(type="email", name="email" placeholder="email")
  br
  label Password
    input(type="password", name="password" placeholder="placeholder")
  br
  input(type="submit" value="Submit")
