h1 Create a Tickler
form(id="create", method="post")
  div
    label Description:
    input(type="text", placeholder="Description", name="desc")
  div
    label Category:
    input(type="text", placeholder="Password", name="cat")
  div
    input(type="submit", value="Create")
