@import url("./header.css");
@import url("./card.css");

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

a {
  color: #00B7FF;
}


.main-content{
  width: 80%;
  margin: 0 auto;

  min-height: 1500px;
  padding: 20px;
}

.tickler-nav{
  float:left;
}
.tickler-list{
  list-style: none;
  width: 100px;
}

.tickler-folder{
  cursor: pointer;
}

.tickler-folder:hover{
  font-size: 20px;
}

.badge{
  background-color: red;
  margin: 10px;
  text-decoration: none;
  font-size: 10px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
